
@media only screen and (min-width: 320px) {
    h1 {
        color:blue;
   @media only screen and (min-width: 768px) {
       h1 {
           color:green;
       }
   }
    }
   .gallery-text {
       max-width: 3500px;
       flex-wrap: wrap;
   }
   .body{
       background-color: tomato;
       text-align: center;
   }

   .container{
       background-color: ivory;
       max-width: 1010px;
       min-height: 100vh;
       padding: 5px;
       margin-left: auto;
       margin-right: auto;
   }

   .gallery {
       display: flex;
       flex-wrap: wrap; 
       max-width: 1000px;
   }

   .gallery-item {
       border: 1px solid black;
       border-radius: 8px;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       width: 260px;
       margin: 20px;
       min-height: 250px;
       padding: 20px;

   }

   .gallery-item figcaption {
       font-family: sans-serif;
   }
h1 {
    font-size: 40px;
    color: pink;
}


  .header {
      color: ivory;
      text-align: center;
      font-size: 90px;
      font-family: 'Vidaloka', serif;
      background-color: rgb(115,230,234);
      padding: 18px;
      text-shadow: 4px 4px 4px #aaa;
  }

  #about {
      background-color:lightsalmon;
      padding: 5px;
      margin-top: 0.5rem;
      text-align: center;
      font-family: 'Vidaloka', serif;
      font-size: 20px;
      color: ivory;
  }
  body {
      background-color: ivory;
  }
}
#aboutus {
    font-size: 45px;
      color: ivory;
}
#info {
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Arapey';
    font-weight: bold;
    font-size: 20px;
    color: rgb(13, 13, 97);
    text-align: justify;
}
#by {
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    font-family: 'Arapey';
    font-size: 20px;
    color: rgb(92, 92, 138);
    text-align: right;
}
.donatenow {
    margin-top: 100px;
    padding-left: 5rem;
    padding-right: 5rem;
    font-family: 'Arapey';
    font-size: 30px;
    color: rgb(13, 13, 97);
}
#home {
    color: rgb(13, 13, 97);
}