
@media only screen and (min-width: 320px) {
    h1 {
        color: black;
   @media only screen and (min-width: 768px) {
       h1 {
           color:green;
       }
       @media only secreen and (min-width: 980px) {
           h1 {color:yellow}
       }
       }

   }
    }
   .gallery-text {
       max-width: 3500px;
       flex-wrap: wrap;
   }
   .body{
       background-color: tomato;
       text-align: center;
   }

   }
h1 {
    font-size: 40px;
    color: pink;
}


  .header {
      color: ivory;
      text-align: center;
      font-size: 90px;
      font-family: 'Vidaloka', serif;
      background-color: rgb(115,230,234);
      padding: 18px;
      text-shadow: 4px 4px 4px #aaa;
  }

  #about {
      background-color:lightsalmon;
      padding: 5px;
      margin-top: 0.5rem;
      text-align: center;
      font-family: 'Vidaloka', serif;
      font-size: 20px;
      color: ivory;
  }
  body {
      background-color: ivory;
  }

.container {
    display: flex;
    justify-content: flex-end; 
    max-width: 900px;
    min-height: 40vh;
    padding: 5px;
    margin-left: auto;
    margin-right: auto; 
   
}
.gallery {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.gallery-item{
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 260px;
    margin: 20px;
    min-height: 250px;
    padding: 20px;
}


.container-item1 figcaption {
    font-family: sans-serif;
    text-align: end;
}

